.env
.env.*
!.env.example
.ruff_cache/

# Python
*.pyc
__pycache__
.venv/

# Svelte
node_modules
frontend/dist
frontend/.svelte-kit
frontend/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Datafiles
books
!books/.keep

# OSX
.DS_Store
