<!DOCTYPE html>
<html>
  <head>
    <title>Podbook Rebound</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  </head>
  <body>
    <div class="container mt-3 mb-4">
      <h1 class="display-4">Podbook Rebound</h1>
    </div>
    <div class="container">
      <div class="card-columns">
        {% for author, bibliography in library.items() %}
          <div class="card">
            <p class="card-header">{{ author }}</p>
            <ul class="list-group list-group-flush">
              {% for book in bibliography %}
                <li class="list-group-item"><a class="clipboard" href="feed/{{ book[1] }}.xml">{{ book[0] }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      <div class="modal fade" id="copied" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              Copied podcast feed address to clipboard.
            </div>
          </div>
        </div>
      </div>
    <script src="{{ url_for('static', filename='jquery-3.1.1.slim.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='clipboard.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='feed_clipboard.js') }}" type="text/javascript"></script>
  </body>
</html>
